/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/*Normalizacion*/
*   {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    /*fonts size*/
    --text-lg:4rem;
    --text-md:2rem;
    --text-sm:1.5rem;
    /*background*/
    --bg-blue:rgb(46, 42, 73);
    --bg-lgblue:rgb(137, 196, 255);
    --bg-nvblue: cornflowerblue;
    /*text color*/
    --color-white: white;
    --color-orange:rgb(255, 119, 0);;
    --color-blue:rgb(46, 42, 73);;
    --color-lgblue:rgb(0, 128, 255);;
}

html{
    font-size: 62.5%;
}
/*hace que 1rem o 1em = 10px */

body{
    background-color: var(--bg-blue);
}

.nav{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(137, 196, 255), rgb(68, 238, 173));
}


nav div.collapse ul li {
    display:inline-block;
    padding-top: 10px;
    padding-bottom: 10PX;
    margin: 3px;
    align-content: flex-end;
}

ul li a{
    text-align: center;
    font-size: var(--text-sm);
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--bg-nvblue);
    border-radius: 7px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all 1s;
}

nav div.navbar-collapse ul li a:hover{
    color: black;
    text-decoration: underline;
    transition: 2sg;

}

.header{
    grid-column: 1/3;
    height: 300px;
    background-image: url(../Imagenes/Header/Header.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
}

h1{ background-color: var(--bg-lgblue);
    color: var(--color-white);
    text-align: center;
    font-size: 4rem;
    justify-content: center;
    margin: 5px;
}

.img-carrusel {
    height: 500px;
  }


.title--orange {
    color: var(--color-orange);
    font-size: var(--text-md);
    text-align: center;
}

.title--blue {
    color: var(--color-blue);
    font-size: var(--text-md);
    text-align: center;
}

.text--white {
    color: var(--color-white);
    font-size: var(--text-sm);
    text-align: center;
}

.text--lgblue{
    color: var(--color-lgblue);
    font-size: var(--text-sm);
}

.bg-blue {  
    background-color: var(--bg-blue);
}
.bg-lgblue  {
    background-color: var(--bg-lgblue);
}

.pie{
    background: linear-gradient(to right, rgb(137, 196, 255), rgb(238, 187, 68));
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    
}
 footer a img   {
     padding: 5px;
     width: 50px;
 }